.body-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 30px;
}

.header-6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(145, 145, 238);
    color: rgb(0, 0, 0);
    text-align: center;
   border-color: rgb(56, 92, 209); 
   border-style: solid;
shape-margin: 20vh;
}

.img04{
margin-left: 5px;
margin-top: 30px;
width: 40vh;
border-radius: 5vh; 
border-style: solid;
shape-margin: 10vh;
}


.dropdown-4{
    margin-right: 63%;
    margin-top: 3px;
}

.dropdown-3{
    margin-right: 63%;
    margin-top: 5px;
}

.btn{
    width: 20vh;
}

.carousel{
    top: 9vh;
    width: 100vh;
    height: 60px;
    margin-left: 50vh;
    

    
}
.img05{
    width: 70%;
    height: 70vh;
    margin-left: 70vh;
    margin-top: 1px;

}

.img06{
    width: 40vh;
    margin-left: 30vh;
    border-radius: 10vh;
    opacity: 10;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    shape-margin: 10vh;
}

.container-5{
    background-color: royalblue;
}