/* Archivo: style.css */

/*INICIO DE SESION*/
* {
    margin: 0
}

body {
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 90px 20px 0;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    height: 400px;
    position: fixed;
    background-color: hsl(194, 75%, 55%);
    width: 100%;
    top: 0;
    left: 0;
    color: rgb(300, 300, 300);
    padding: 1em;
    text-align: center;
}

.container-2 {
    position: relative;
    width: 30%;
    bottom: 60px;
    top: 50vh;
    color: rgb(5, 0, 0);
    padding: 1em;
    background-color: rgb(247, 107, 14);
    height: 230px;
    text-align: center;
    left: 70vh;
    border-style: solid;
    shape-margin: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.dropdown {
    width: 300px;
    height: 30px;
    text-align: justify;
    margin-left: 20vh;
}

.btn {
    width: 200px;
    height: 4vh;
    margin: 0;
    background-color: #54615e;
}

.input-group-text {
    width: 50px;
    height: 3vh;
    top: 40vh;
    font-size: 20px;
    text-align: right;
    right: 50vh;
    background-color: #619aee;
    font-family: 'Times New Roman', Times, serif;
    color: #0b0f0f;
}

.form-control-2 {
    width: 250px;
    height: 32px;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    right: 0%;
    font-size: 15px;
}

.imagen.jfif {
    width: 150px;
    height: 90px;
}


.input-group-text {
    width: 150px;
    height: 25;
    right: 80vh;
}

.input-group {
    width: 150%;
    margin-left: 850px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    right: 80vh;
}

.input-group-text {
    width: 150px;
    height: 25;
    right: 80vh;
}

.input-group {
    width: 150%;
    margin-left: 850px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    right: 80vh;
}


.check-1 {
    width: 10px;
    height: 20px;
    right: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;


}

.check-2 {
    left: 10vh;
    height: 10px;
    width: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    right: 20vh;

}

.check {
    width: 50px;
}

.checkbox-4 {
    width: 50px;
    left: 15px;
}


/*REGISTRO*/

.header-2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    height: 400px;
    background-color: hsl(194, 75%, 55%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: rgb(300, 300, 300);
    padding: 1em;
    text-align: center;
}

.container-4 {
    position: relative;
    width: 20%;
    left: 80vh;
    top: 50vh;
    bottom: 50px;
    color: rgb(0, 0, 0);
    padding: 1em;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    background-color: rgb(247, 107, 14);
    height: 380px;
    border-style: solid;
    shape-margin: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10%;
}

.form-control-3 {
    width: 300px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    right: 2%;
    font-size: 12px;
    border-radius: 9px;
    border-style: solid;
}


.button-2 {
    background-color: rgb(111, 179, 196);
    color: black;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 15px;
}


/*CONTENIDO*/

.body-1 {
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #f4f5f5;
    padding: 90px 20px 0;
    background-color: #305cbb;
    padding: 0;
    top: 0%;
    display: flex;
}

.header-4 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    height: 400px;
    background-color: hsl(194, 75%, 55%);
    width: 100%;
    top: 0;
    left: 0;
    color: rgb(300, 300, 300);
    padding: 1em;
    text-align: center;
}


.img02 {
    top: 40vh;
    width: 300px;
    height: 250px;
    left: 100vh;
}


.dropdown-2 {
    width: 300px;
    height: 30px;
    text-align: justify;
    margin-left: 20vh;
    bottom: 20vh;
}

.container-contenido {
    position: relative;
    width: 400px;
    max-height: 600px;
    align-content: center;
    align-items: center;
    margin: 20vh;
    padding: 40px;
    margin-top: 40vh;

}

.container-contenido .texto-2 {

    font-size: 20px;
    position: fixed;
    align-content: center;
    left: 60vh;
    bottom: 10vh;
    margin-left: 30px;

}

